
bin/
.vs/
obj/
/src/*.suo
/src/.vs/*
/installer
/src/_ReSharper.* 
/src/*.ReSharper.user
/src/**/*.csproj.user 
/src/packages/
!/src/packages/repositories.config
output/ 

/build/*.zip
/build/*.temp
/build/output/

/temp
/installers
/src/_ReSharper.Caches
/src/*.psess
/src/*.vsp 
/src/tools/
tools/
/artifacts
/src/.idea 
/src/*.user 
node_modules/
*.csproj.user 
/src/**/wwwroot/Component-preload.js
/src/**/wwwroot/dist
/src/**/wwwroot/dist/**/*

/src/*/.idea
#db-local-hana.json
#db-local-sqlserver.json
src/.history/
src/.history
src/.history/**/*
**/.vscode/
src/.sonarqube/**/*
src/.sonarqube/
.gitignore.bak

Invent.Essentials.slnLaunch.user

.idea/

**/coverage-results/
**/TestResults/