.genericTile {
	color: #fff;
	font-weight: bolder;
	/* text-shadow: -15px 1px 20px black; */
}

.painelFixo {
	top: 1rem;
	position: sticky;
}

.titleCarrossel {
	background: linear-gradient(0deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.2) 100%);
	color: #fff;
}